<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Tn5arja</servlet-name>
		<servlet-class>tn.nj.sorties.servlet.Tn5arjaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tn5arja</servlet-name>
		<url-pattern>/tn5arja</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Tn5arjaListPoi</servlet-name>
		<servlet-class>tn.nj.sorties.servlet.Tn5arjaListPoiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tn5arjaListPoi</servlet-name>
		<url-pattern>/tn5arja-list</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Tn5arjaPoi</servlet-name>
		<servlet-class>tn.nj.sorties.servlet.Tn5arjaPoiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Tn5arjaPoi</servlet-name>
		<url-pattern>/tn5arja-poi</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>tn.nj.sorties.model.PointOfInterestEndpoint</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>